<section class="section">
  <div class="container">
    <% @posts.each do |post| %>
      <div class="row row-posts">
        <div class="twelve columns">
          <%= post.title %>
        </div>
        <div class="twelve columns row-posts-details">
          <%= post.username %>, <%= ViewHelpers.time_ago(post.created_at) %> | <%= ViewHelpers.plural(post.replies, 'reply', 'replies') %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <a class="button button-primary" href="/?last_id=<%= @posts.last.id %>&last_index=<%= DateTime.parse(@posts.last.created_at).strftime("%Y%m") %>">Next page</a>
    </div>
  </div>
</section>
